html
  head
    title=title
    link(
      href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css',
      rel='stylesheet'
    )
    link(rel='stylesheet', type='text/css', href='styles/styles.css')
  body
    div.container

      div.page-header
        h1 New Lease

      if errors
        each error in errors
          div.alert.alert-danger
            span #{error.error}
      if saved
        div.alert.alert-success
          span Your new Lease has been saved
      form.login-form.form-horizontal(method='post', role='form', action="/newLease")
        //- input(name='_csrf', value=csrfToken)

        div.form-group
          label.col-sm-4 Building Number
          div.col-sm-8
            input.form-control(
              placeholder='Building Number',
              required=true,
              name='buildingNumber',
              type='text',
              value=buildingNumber)
        div.form-group
          label.col-sm-4 Building Name
          div.col-sm-8
            input.form-control(
              placeholder='Building Name',
              required=true,
              name='buildingName',
              type='text',
              value=buildingName)
        div.form-group
          label.col-sm-4 Project
          div.col-sm-8
            input.form-control(placeholder='Project',
              required=true,
              name='project',
              type='text',
              value=project)
        div.form-group
          label.col-sm-4 Unit
          div.col-sm-8
            input.form-control(placeholder='Unit',
              required=true,
              name='unit',
              type='text',
              value=unit)
        div.form-group
          label.col-sm-4 Unit Square Footage
          div.col-sm-8
            input.form-control(placeholder='e.g. 500',
              required=true,
              name='unitSqFt',
              type='number',
              value=unitSqFt)
        div.form-group
          label.col-sm-4 Building Square Footage
          div.col-sm-8
            input.form-control(placeholder='e.g. 10000',
              required=true,
              name='buildingSqFt',
              type='number',
              value=buildingSqFt)
        div.form-group
          label.col-sm-4 Unit address
          div.col-sm-8
            input.form-control(placeholder='e.g. 123 Main',
              required=true,
              name='unitAddress',
              type='text',
              value=unitAddress)
        div.form-group
          label.col-sm-4 City
          div.col-sm-8
            input.form-control(placeholder='e.g. Cityville',
              required=true,
              name='city',
              type='text',
              value=city)
        div.form-group
          label.col-sm-4 State
          div.col-sm-8
            input.form-control(placeholder='e.g. Tennessee',
              required=true,
              name='state',
              type='text',
              value=state)
        div.form-group
          label.col-sm-4 Zip
          div.col-sm-8
            input.form-control(placeholder='e.g. 12345',
              required=true,
              name='zip',
              type='number',
              value=zip)
        div.form-group
          label.col-sm-4 Tenant Number
          div.col-sm-8
            input.form-control(placeholder='Tenant Number',
              required=true,
              name='tenantNumber',
              type='number',
              value=tenantNumber)
        div.form-group
          label.col-sm-4 Tenant Name
          div.col-sm-8
            input.form-control(placeholder='Tenant Name',
              required=true,
              name='tenantName',
              type='text',
              value=tenantName)
        div.form-group
          label.col-sm-4 Lease Id
          div.col-sm-8
            input.form-control(placeholder='Lease Id',
              required=true,
              name='leaseId',
              type='number',
              value=leaseId)
        div.form-group
          label.col-sm-4 Move In Date
          div.col-sm-8
            input.form-control(placeholder='e.g. 01/01/000',
              required=true,
              name='moveInDate',
              type='date',
              value=moveInDate)
        div.form-group
          label.col-sm-4 Move Out Date
          div.col-sm-8
            input.form-control(placeholder='e.g. 01/01/000',
              required=true,
              name='moveOutDate',
              type='date',
              value=moveOutDate)
        div.form-group
          label.col-sm-4 Lease Start Date
          div.col-sm-8
            input.form-control(placeholder='e.g. 01/01/000',
              required=true,
              name='leaseStartDate',
              type='date',
              value=leaseStartDate)
        div.form-group
          label.col-sm-4 Lease End Date
          div.col-sm-8
            input.form-control(placeholder='e.g. 01/01/000',
              required=true,
              name='leaseEndDate',
              type='date',
              value=leaseEndDate)
        div.form-group
          label.col-sm-4 Type of Lease
          div.col-sm-8
            input.form-control(placeholder='e.g. Gross Lease, Triple Net (NNN) or Modified Gross',
              required=true,
              name='typeOfLease',
              type='text',
              value=typeOfLease)
        div.form-group
          label.col-sm-4 Base Rent
          div.col-sm-8
            input.form-control(placeholder='Base Rent',
              required=true,
              name='baseRent',
              type='number',
              value=baseRent)
        div.form-group
          label.col-sm-4 Common Area Maintenance
          div.col-sm-8
            input.form-control(placeholder='Common Area Maintenance',
              required=true,
              name='commonAreaMaintenance',
              type='number',
              value=commonAreaMaintenance)
        div.form-group
          label.col-sm-4 Insurance
          div.col-sm-8
            input.form-control(placeholder='Insurance',
              required=true,
              name='insurance',
              type='number',
              value=insurance)
        div.form-group
          label.col-sm-4 Taxes
          div.col-sm-8
            input.form-control(placeholder='Taxes',
              required=true,
              name='taxes',
              type='number',
              value=taxes)
        div.form-group
          div.col-sm-offset-4.col-sm-8
            button.login.btn.btn-primary(type='submit') Save
        div.pull-right
          a(href="/") Return to home page
